// Set your brand colors
$purple: hsl(320, 28%, 42%);
$pink: hsl(350, 93%, 73%);
$brown: hsl(66, 9%, 43%);
$beige-light: hsl(75, 4%, 81%);
$beige-lighter: hsl(72, 14%, 93%);

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $family-primary: '"Nunito", sans-serif',
  $grey-dark: $brown,
  $grey-light: $beige-light,
  $primary: $purple,
  $link: $pink,
  $control-border-width: 2px,
  $input-shadow: none
);

// Import the Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
