#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem 2rem 1rem;
  text-align: center;
  border: 2px solid blue;
}

.tag {
  margin: 3px;
}

.section {
  border: 2px solid red;
  padding: 0px;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background: url("../src/assets/img/unsplash-002.jpg") no-repeat center
    center/cover;
  color: black;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-section-text {
  position: relative;
  z-index: 1;
}

.hero-section-title {
  color: #8f4e0c;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.hero-section-subtitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.wrapper {
  display: flex;
  /* flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start; */
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 0.5rem;
  margin-top: 10px;
}

.event-list-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3px;
  align-items: center;
  gap: 0.5rem;
}

.nav-list {
  height: 128px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 10px black;
  padding-bottom: 10px 10%;
  margin-bottom: 20px;
  border-radius: 10px;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}

.nav-item a {
  text-decoration: none;
  color: black;
  transition: all 200ms ease-in;
}

.nav-item a:hover {
  color: aquamarine;
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

.logo {
  cursor: pointer;
  width: 128px;
  height: 128px;
}

.btn {
  cursor: pointer;
}
