.tag {
  margin: 3px;
}

.section {
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background: url("../src/assets/img/unsplash-002.jpg") no-repeat center
    center/cover;
  position: relative;
}

.custom-card {
  width: 24rem;
  display: flex;
  flex-direction: row;
  padding: 2px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  min-height: 20px;
  max-height: 100px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-section-text {
  position: relative;
  z-index: 1;
}

.hero-section-title {
  color: #8f4e0c;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.hero-section-subtitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.wrapper {
  margin-top: 2rem;
  height: 800px;
  padding: 8px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 17px;
  overflow: auto;
}

.event-card-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-height: 4rem;
  flex-grow: 1;
  row-gap: 0.5rem;
  overflow-y: auto;
}

.event-card {
  /* border: 1px solid green; */
  box-shadow: 4px 2px 2px;
  border-radius: 6px;
  padding: 12px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

/* .event-card-date {
  color: red;
} */

.separator {
  width: 100%;
  border-bottom: 1px solid black;
  position: relative;
  margin: 30px 0px;
}

.separator::before {
  content: "OR";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f8f4f4;
  padding: 0 10px;
  color: black;
}

.event-card-content {
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
  row-gap: 0.5rem;
}

.event-card-cta {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
  font-size: 1rem;
  padding: 0.5rem;
  justify-self: flex-end;
  flex-shrink: 1;
}

.event-info {
  display: flex;
  flex-direction: column;
}

.event-user-cta {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.event-card-title {
  /* border: 2px solid blue; */
  width: 60%;
  color: black;
  text-transform: uppercase;
}

.event-card img {
  width: 128px;
  height: 96px;
  border-radius: 6px;
  align-self: center;
}

.event-list-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
}

.event-list-controls .field {
  display: flex;
  flex-direction: column;
}

.event-list-controls .label {
  margin-bottom: 0.5rem;
}

.event-list-controls .control {
  display: flex;
  align-items: center;
}

.nav-list {
  height: 128px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 10px black;
  padding-bottom: 10px 10%;
  margin-bottom: 20px;
  border-radius: 10px;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}

.nav-item a {
  text-decoration: none;
  color: black;
  transition: all 200ms ease-in;
}

.nav-item a:hover {
  color: aquamarine;
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

.logo {
  cursor: pointer;
  width: 128px;
  height: 128px;
}

.btn {
  cursor: pointer;
}

.add-event-button {
  transition: all 200ms ease-in;
  width: 128px;
  align-self: flex-end;
  margin: 1rem 2rem;
}
